<div class="sorter" *ngIf="localDataService.countryInfo$ | async as countries">
  <div *ngFor="let c of countries | filterCountryKey: 'region'">
    <app-continent-group [countryList]="countries | filterCountry: c.enName" [continent]="c" (onCountrySelected)="onSelectedCountry($event)"></app-continent-group>
  </div>
</div>
