<div style="display: inline-flex; cursor: pointer">
  <img src="{{data.flag}}" width="29" height="15"  alt="flag"/>
  <span style="margin-left: 9px">{{data.name}}</span>
  <mat-icon *ngIf="storeFavorites.checkFavorite(data.name)" style="color: #d5d512; font-size: 15px">star</mat-icon>
</div>
