.content-card-info {
  display: inline-flex;
  width: 100%;
}
.title-card-info {
  display: inline-flex;
  width: 70%;
}

.image-card-flag-content {
  width: 30%;
  text-align: right;
  img {
    box-shadow: 0px 0px 4px #00000042;
    border-radius: 5px;
  }
}

.card-info-content {
  width: 70%;
}

.card-info-body {
  display: grid;
}
.country-ui {
  margin-right: 5px;
}

.country-limits {
  display: inline-block;
}

.card-star-icon {
  padding-top: 2px;
  margin-left: 5px;
  color: #d8d800ba;
  cursor: pointer;
}
