<div class="content-card-info">
  <div class="card-info-content">
    <div class="title-card-info">
      <h2>{{country.name}}</h2>
      <mat-icon *ngIf="favorite" class="card-star-icon" (click)="removeFavorite()">star</mat-icon>
      <mat-icon *ngIf="!favorite" class="card-star-icon" (click)="addFavorite()">star_border</mat-icon>
    </div>
    <div class="card-info-body">
      <span><strong>Region: </strong>{{country.region}}</span>
      <span><strong>Population: </strong>{{country.population | thousandStuff : 2}}</span>
      <span><strong>Capital: </strong>{{country.capital}}</span>
      <span><strong>Currency: </strong>{{country.currencies[0].name}}</span>
      <span><strong>Language: </strong>{{country.languages[0].nativeName}}</span>
      <div class="country-limits">
        <strong>Border Countries: </strong>
        <span class="country-ui" *ngFor="let b of country.fullBorders; let i = index">
          {{b}}{{(country.fullBorders.length - 1) > i ? ',' : '' }}
        </span>
      </div>
    </div>
  </div>
  <div  class="image-card-flag-content">
    <img src="{{country.flag}}" width="150" height="90"  alt="info-flag"/>
  </div>
</div>
