<div class="continent-container" *ngIf="list.length">
  <h2>{{continent.esName}}</h2>
  <p *ngFor="let country of list">
    <app-country-simple-ui [country]="country" (click)="selected.emit(country)"></app-country-simple-ui>
  </p>
</div>
