<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar style="background-color: black; height: 100px">
      <mat-toolbar-row>
<!--        <span class="spacer" >Countries Around the World</span>-->
        <form (keydown.enter)="$event.preventDefault()" style="font-size: 14px;">
          <mat-form-field color="primary" style="width: 300px; padding-top: 30px; margin-left: 25%; max-height: 40px" appearance="outline">
            <mat-icon matSuffix style="font-size: 18px">search</mat-icon>
            <mat-label>Search</mat-label>
            <input matInput name="searchWord" [ngModel]="searchWord" (ngModelChange)="onChange($event)">
          </mat-form-field>
        </form>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
