.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
  border-radius: 3px;
  margin-top: 3px;
}

::ng-deep.mat-form-field-outline {
  /*change color of underline*/
  background-color: white !important;
  border-radius: 5px;
  border-color: dimgray;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: white !important;
  border-color: dimgray;
}
